// COLORS
$boddyBg: #1A1A1A;
$mainBg: #E9EBED;
$yellow: #FFFF24;
$darkYellow:#B3B300;




// Size settings

$navbarHeight: 70px;

// Transitions

$navbarSpeed: 500ms;


// Borders

$border-radius: 8px;
$border: 1px solid black;