@import 'style/normalize.min.scss';
@import 'style/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
html {
  overflow-y: scroll;
  background-color: $boddyBg;
}
.App {
  text-align: center;
  margin: auto;
  background-color: $mainBg;
  font-size: 1.4em;


  &::after{ 
    content: "";
    background-image: url('./React-icon.svg');
    background-repeat: repeat;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #000;
  }

}

 
.header {
  background-color: $yellow;
  z-index: 999;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  .inner-header {
    width: 700px;
    margin: 0 auto;
  }
  & img {
    width: 30px;
    height: 30px;
  }

  & svg {
    width: 30px;
    height: 30px;
  }
}
.logo {
  width: 20%;
  float: left;
  img {
    height: 80px;
    width: 80px;
  }
}

.user {
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
  margin: 0 auto;
  transition-duration: 500ms;

  &:hover {
    fill: lighten(black, 40%);
  }
  
  &.online {
    fill: green;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: $navbarHeight;
  padding: 0 1rem;
  color: white;

  & a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbarHeight * 0.8;
}

.nav-button {
  height: $navbarHeight * 0.5;
  width: $navbarHeight * 0.5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $darkYellow;
  padding: 5px;
  margin: 2px;
  transition-duration: 500ms;
  &:hover {
    filter: brightness(1.2);
    fill: lighten(black, 20%);
    color: black;
  }


}


.dropdown {
  position: absolute;
  top: $navbarHeight - 2px;
  background-color: $darkYellow;
  color: black;
  min-width: 150px;
  border: 2px solid grey;
  border-radius: 5px;
  
  overflow: hidden;
  & a {
    color: black;
  }

  & .menu-item {
    height: 2em;
    display: flex;
    align-items: center;
    font-weight: bolder;
    transition-duration: 500ms;
    padding-left: 0.5em;

    &:hover {
      background-color: lighten($darkYellow, 20);
    }

  } 
}
  // .sub-menu {
  //   width: 80%;
  //   margin: 0 auto;
  //   font-size: 1rem;
  // }

main {
  width: 700px;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 0.5em;
  margin: 0 auto;
  text-align: center;

  p {
    margin: 0.4em;
    border-bottom: 5px dashed #E9EBED;
    padding-bottom: 0.5em;
  }
}

.footer {
  background-color: #1A1A1A;
  color: white;
}

.inner-footer {
  width: 700px;
  margin: 0 auto;
  
}

.col {
  width: 30%;
  display: inline-block;
}
form {
  & input {
    margin-bottom: 1em;
    width: 95%;
  }

  & textarea {
    width: 95%;
    height: 20em;
    resize: none;
    padding: 0.5em;
    border-radius: 10px;
  }
}
.submit {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;


  &.registrer {
    background-color: $yellow;
  }

  &.green {
    background-color: rgb(63, 214, 63);
  }
}
